<!-- account/templates/account/login.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form with email and password fields -->
        <button type="submit">Login</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
